.episodes .filter-container {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;

  margin: 0 1vw 2px 1vw;
  padding: 0 1%;

  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(35, 37, 43, 0.726);

  color: white;
}

.episodes .search-bars-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 60%;
  /* height: 96px; */
}

.episodes .search-bar-container {
  height: 100%;
}

.episodes .btn-container {
  flex-grow:1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 40%;
  /* height: 96px; */
}

.episodes .btn-container  button {
  background-color: #2b5351;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 3vw;

  width: 112px;
  height: 32px;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background-color: #407573;
    color: #f5f5f5;
  }
}

@media (max-width: 768px) {
  .episodes .filter-container {
    flex-direction:column;
  }
} 
