.dropdown-menu{
  width:100%;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
}

.dropdown-menu label{
  width:100%;
  grid-column: 1;
  text-transform: capitalize;
}

.dropdown-menu select{
  grid-column: 2;
  border: 1px solid #000;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 15px;
}