.app-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  padding-inline-end: 64px;

  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  font-size: calc(10px + 2vmin);
  color: white;
  
  box-shadow: 0 5px 5px rgba(66, 65, 65, 0.5);
}

.logo-container{
  display: flex;
  align-items: center;
  padding-left: 50px;
  cursor: pointer;
}

.logo-container h1 {
  margin: 0;
}

.logo-container img{
  height: 8vmin;
  width: auto;
}

.menu{
  justify-content: flex-end;
  padding-right: 50px;
}

.menu-item{
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item:hover{
  background-color: #3f3f3f;
}

.title {
  color: #738f93;
  font-size: 40px;
  font-family: fantasy, sans-serif;
  margin-bottom: 0;
}

.active{
  border-bottom: 2px solid #738f93;
}