.search-bar-container{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
}

.search-bar-container label{
  width: 100%;
  grid-column: 1;
}

.search-bar{
  width: 90%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;

  grid-column: 2;
}