.search-bar-container{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
}

.search-bar-container label{
  width: 100%;
  grid-column: 1;
  text-transform: capitalize;
}

.search-bar{
  grid-column: 2;
  border: 1px solid #000;
  width: 87%;
  padding: 5px;
  border-radius: 5px;
  margin-left:15px;
  font-size: 16px;
}